[Unit]
Description=Starts an ISAAC docker container
After=docker.socket
Requires=docker.socket

[Service]
User=jetson
Type=simple
ExecStartPre=/bin/bash -c 'until docker info > /dev/null 2>&1; do sleep 1; done'
ExecStart=/bin/bash -c "/home/jetson/workspaces/isaac_ros-dev/scripts/start_isaac_docker.sh"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
