<?xml version="3.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="Cypher_Drone_V3">

  <xacro:property name="front_realsense_xyz"  value="0.09597 0.0475 0.152542"/>
  <xacro:property name="left_realsense_xyz"   value="-0.0475 0.09597 0.115542"/>
  <xacro:property name="right_realsense_xyz"  value="0.0475 -0.09597 0.115542"/>
  <xacro:property name="front_cv_xyz"         value="0.05415 -0.03 0.112524"/>
  <xacro:property name="down_cv_xyz"          value="0.03345 0 -0.003333"/>
  <xacro:property name="rangefinder_xyz"      value="-0.001622 0.01792 -0.10135"/>

  <xacro:macro name="simple_camera"
               params="name parent xyz l_r l_p l_y j_r j_p j_y">
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${l_r} ${l_p} ${l_y}"/>
        <geometry>
          <box size="0.04 0.02 0.02"/>
        </geometry>
        <material name="${name}_material">
          <color rgba="0.1 0.1 0.1 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${l_r} ${l_p} ${l_y}"/>
        <geometry>
          <box size="0.04 0.02 0.02"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="${l_r} ${l_p} ${l_y}"/>
        <mass value="0.05"/>
        <inertia
          ixx="1e-4" ixy="0" ixz="0"
          iyy="1e-4" iyz="0"
          izz="1e-4"/>
      </inertial>
    </link>

    <joint name="${parent}_to_${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${j_r} ${j_p} ${j_y}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="rangefinder"
               params="name parent xyz j_r j_p j_y">
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.01" length="0.03"/>
        </geometry>
        <material name="${name}_material">
          <color rgba="0.2 0.8 0.2 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.01" length="0.03"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.03"/>
        <inertia
          ixx="5e-5" ixy="0" ixz="0"
          iyy="5e-5" iyz="0"
          izz="5e-5"/>
      </inertial>
    </link>

    <joint name="${parent}_to_${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${j_r} ${j_p} ${j_y}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="cypher_cameras_block"
               params="parent">

    <xacro:simple_camera
      name="front_realsense"
      parent="${parent}"
      xyz="${front_realsense_xyz}"
      l_r="0"  l_p="0"   l_y="0"
      j_r="0"  j_p="0"   j_y="0"/>

    <xacro:simple_camera
      name="left_realsense"
      parent="${parent}"
      xyz="${left_realsense_xyz}"
      l_r="0"      l_p="0"      l_y="0"
      j_r="0"      j_p="0"      j_y="${pi/2}"/>

    <xacro:simple_camera
      name="right_realsense"
      parent="${parent}"
      xyz="${right_realsense_xyz}"
      l_r="0"       l_p="0"       l_y="0"
      j_r="0"       j_p="0"       j_y="${-pi/2}"/>

    <xacro:simple_camera
      name="front_cv"
      parent="${parent}"
      xyz="${front_cv_xyz}"
      l_r="${-pi/2}" l_p="0"       l_y="0"
      j_r="${-pi/2}" j_p="0"       j_y="${-pi/2}"/>

    <xacro:simple_camera
      name="down_cv"
      parent="${parent}"
      xyz="${down_cv_xyz}"
      l_r="0"        l_p="${0}"   l_y="${0}"
      j_r="0"        j_p="${pi}"   j_y="${pi/2}"/>

    <xacro:rangefinder
      name="rangefinder"
      parent="${parent}"
      xyz="${rangefinder_xyz}"
      j_r="0"
      j_p="${pi/2}"
      j_y="0"/>

  </xacro:macro>

</robot>
