<?xml version="2.99"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="cypher_drone_v2_99">

  <!-- Include submodules -->
  <xacro:include filename="$(find cypher_description)/urdf/propellers.xacro"/>
  <xacro:include filename="$(find cypher_description)/urdf/cameras.xacro"/>

  <!-- Basic body -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Simple body -->
        <box size="0.25 0.25 0.05"/>
      </geometry>
      <material name="body_material">
        <color rgba="0.3 0.3 0.3 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.25 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.2"/>
      <inertia
        ixx="0.02" ixy="0" ixz="0"
        iyy="0.02" iyz="0"
        izz="0.03"/>
    </inertial>
  </link>

  <!-- FMU/IMU frame -->
  <link name="imu_link"/>
  <joint name="base_link_to_imu" type="fixed">
    <parent link="base_link"/>
    <child  link="imu_link"/>
    <origin xyz="0.042523 0.031 0.0735" rpy="0 0 0"/>
  </joint>

  <!-- Propeller parameters -->
  <xacro:property name="prop_force_offset"          value="0.0"/>
  <xacro:property name="prop_housing_radius"        value="0.07"/>
  <xacro:property name="prop_housing_height"        value="0.02"/>
  <xacro:property name="prop_housing_center_offset" value="0.15"/>

  <!-- Front-left propeller -->
  <xacro:propellers
      name="front_left"
      parent="base_link"
      fb_reflect="1"
      lr_reflect="1"
      prop_force_offset="${prop_force_offset}"
      prop_housing_radius="${prop_housing_radius}"
      prop_housing_height="${prop_housing_height}"
      prop_housing_center_offset="${prop_housing_center_offset}"/>

  <!-- Front-right propeller -->
  <xacro:propellers
      name="front_right"
      parent="base_link"
      fb_reflect="1"
      lr_reflect="-1"
      prop_force_offset="${prop_force_offset}"
      prop_housing_radius="${prop_housing_radius}"
      prop_housing_height="${prop_housing_height}"
      prop_housing_center_offset="${prop_housing_center_offset}"/>

  <!-- Rear-left propeller -->
  <xacro:propellers
      name="rear_left"
      parent="base_link"
      fb_reflect="-1"
      lr_reflect="1"
      prop_force_offset="${prop_force_offset}"
      prop_housing_radius="${prop_housing_radius}"
      prop_housing_height="${prop_housing_height}"
      prop_housing_center_offset="${prop_housing_center_offset}"/>

  <!-- Rear-right propeller -->
  <xacro:propellers
      name="rear_right"
      parent="base_link"
      fb_reflect="-1"
      lr_reflect="-1"
      prop_force_offset="${prop_force_offset}"
      prop_housing_radius="${prop_housing_radius}"
      prop_housing_height="${prop_housing_height}"
      prop_housing_center_offset="${prop_housing_center_offset}"/>

  <!-- Cameras + rangefinder block, all relative to base_link -->
  <xacro:cypher_cameras_block parent="base_link"/>

</robot>
