[Unit]
Description=Starts downward facing camera at 2K.30FPS
Wants=network-online.target
After=network-online.target
After=systemd-user-sessions.service

[Service]
Type=simple
User=jetson
Environment="HOME=/home/jetson"
ExecStart=/home/jetson/workspaces/local_ws/src/csi_drone_camera/source/cam_down_2k_30.bash

[Install]
WantedBy=default.target

