[Unit]
Description=starts camera manager node to run and switch between csi camera
Wants=network-online.target
After=network-online.target
After=systemd-user-sessions.service

[Service]
Type=simple
User=jetson
Environment="HOME=/home/jetson"
ExecStart=/home/jetson/workspaces/local_ws/src/csi_drone_camera/source/cam_manager.bash
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target